<%= form_for @address, html: { class: 'form-horizontal' } do |form| %>
  <%= form.hidden_field :user_id , :value => current_spree_user.try(:id), :class => 'form-control' %>

  <div class=form-group>
    <label class="col-sm-2 control-label">First Name</label>
    <div class=col-sm-10>
      <%= form.text_field :firstname, :required => true,maxlength: '50', :class => 'form-control' %>
    </div>
  </div>

  <div class=form-group>
    <label class="col-sm-2 control-label">Last Name</label>
    <div class=col-sm-10>
      <%= form.text_field :lastname, :required => true,maxlength: '50', :class => 'form-control' %>
    </div>
  </div>

  <div class=form-group>
    <label class="col-sm-2 control-label">Street Address:</label>
    <div class=col-sm-10>
      <%= form.text_area :address1, :required => true, maxlength: '200', :class => 'form-control' %>
      <p>(Maximum Limit : 200 characters)</p>
    </div>
  </div>

  <div class=form-group>
    <label class="col-sm-2 control-label">Street Address (cont'd):</label>
    <div class=col-sm-10>
      <%= form.text_field :address2, maxlength: '200', :class => 'form-control' %>
    </div>
  </div>

  <div class=form-group>
    <label class="col-sm-2 control-label">City:</label>
    <div class=col-sm-10>
      <%= form.text_field :city, :required => true, pattern: "[a-zA-Z]*",title: "city name can not contain number", :class => 'form-control' %>
    </div>
  </div>

  <% if Spree::Config[:address_requires_state] %>
    <div class=form-group>
      <label class="col-sm-2 control-label">State:</label>
      <div class=col-sm-10>
        <span id=<%="#{@address}country-selection" %>>
          <% have_states = !@address.country.states.empty? %>
          <%== state_elements = [
             form.collection_select(:state_id, @address.country.states,
                                :id, :name,
                                {:include_blank => true},
                                {:class => have_states ? 'form-control required' : 'form-control hidden',
                                :disabled => !have_states}) +
             form.text_field(:state_name,
                                :class => !have_states ? 'form-control required' : 'form-control hidden',
                                :disabled => have_states)
             ].join.gsub('"', "'").gsub("\n", "")
          %>
        </span>
      </div>
    </div>
  <% end %>

    <%# if Spree::Config[:company] %>
      <!-- <p class="form-group" id=<%#="#{@address}company" %>> -->
        <%#= form.label :company, Spree.t(:company) %>
        <%#= form.text_field :company, :class => 'form-control' %>
      <!-- </p> -->
    <%# end %>

  <div class=form-group>
    <label class="col-sm-2 control-label">Country:</label>
    <div class=col-sm-10>
      <span id=<%="#{@address}country-selection" %>>
        <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control'} %>
      </span>
    </div>
  </div>

  <div class=form-group>
    <label class="col-sm-2 control-label">Zip:</label>
    <div class=col-sm-10>
      <%= form.text_field :zipcode, :class => "form-control number-only #{'required' if @address.require_zipcode?}" ,maxlength: '6'%>
    </div>
  </div>

  <div class=form-group>
    <label class="col-sm-2 control-label">Phone Number:</label>
    <div class=col-sm-10>
      <%= form.phone_field :phone, :class => "form-control number-only #{'required' if @address.require_phone?}" %>
    </div>
  </div>

  <% if Spree::Config[:alternative_shipping_phone] %>
    <div class=form-group>
      <label class="col-sm-2 control-label">Alternative Phone Number:</label>
      <div class=col-sm-10>
        <%= form.phone_field :alternative_phone, :class => 'form-control number-only' %>
      </div>
    </div>
  <% end %>



  <div class=form-group>
    <div class="col-sm-offset-3 col-sm-7">
      <button type=submit class="btn btn-default">Save Changes</button>
    </div>
  </div>
<% end %>