<table class="row header">
  <tr>
    <td>
      <p class="lede">
        Dear <%= @order.try(:full_name) %>
      </p>
      <p>
        <%= Spree.t('order_mailer.confirm_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.confirm_email.order_summary', number: @order.number) %>
      </p>
      <%= render partial: 'spree/shared/mailer_line_item', locals: {order: @order} %>
      <% if @order.pickable_line_items.present? %>
        <table class="table table-bordered table-hover" style="width: 100%;">
          <thead>
            <tr style="border-bottom: 2px solid #eee;">
              <th style="width: 40%;"> Item </th>
              <th style="width: 20%;"> Store </th>
              <th style="width: 39%;"> Pickup Address </th>
            </tr>
          </thead>
          <tbody>
            <% @order.pickable_line_items.each do |pickable_item| %>
              <tr style="border-bottom: 2px solid #eee; background: #ffe2e2;">
                <td><%= pickable_item.product.name %></td>
                <td><%= pickable_item.seller_name || "No store" %></td>
                <td><%= pickable_item.pickup_address || "No address" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <br>
      <br>
      <p>
        <%= Spree.t('order_mailer.confirm_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
  <tr>
    <a href="#{Spree::Store.current.url}/users_feedbacks/new?<%= @order.try(:full_name) %>"> Share your Shopping Experience</a>
</table>
